.footer {
	height: 30;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: linear-gradient(90deg, #707070 0%, #101010 100%);
	text-transform: uppercase;
	font-weight: bold;
	color: darken(white, 20%);

	a {
		color: white;
	}
}
