.footer {
	height: 30;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	color: darken(#101010, 20%);

	a {
		color: #5b7d78;
	}
}
