{{ partial "header.html" . }}

<!-- {{ $products := getJSON "/data/products.json" }} -->
<main class="products">
	<img src="/images/icons/baby-face.svg" alt="" class="background-image">
	<div class="promotional-message">
		<h3>INTRODUCING</h3>
		<h2>TodFy</h2>
		<p>An exclusive <strong>collection of toddler utilities</strong> for safety, comfy, and convenient.</p>
	</div>
	<section class="container">
		<div class="row">
			{{ range $products }}
			{{ partial "product.html" . }}
			{{ end }}
		</div>
	</section>
</main>

{{ partial "footer.html" . }}
